In [1]:
import pandas as pd
import requests

In [4]:
response = requests.get('https://datausa.io/api/data?drilldowns=Nation&measures=Population')

In [5]:
response

In [9]:
response.json()

{'data': [{'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2020,
   'Year': '2020',
   'Population': 326569308,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2019,
   'Year': '2019',
   'Population': 324697795,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2018,
   'Year': '2018',
   'Population': 322903030,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2017,
   'Year': '2017',
   'Population': 321004407,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2016,
   'Year': '2016',
   'Population': 318558162,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2015,
   'Year': '2015',
   'Population': 316515021,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2014,
   'Year': '2014',
   'Population': 314107084,
   'Slug Nation': 'united-states'},
  {'ID Nation': '01000US',
   'Nation': 'United States',
   'ID Year': 2013,
   'Year': '2013',
   'Population': 311536594,
   'Slug Nation': 'united-states'}],
 'source': [{'measures': ['Population'],
   'annotations': {'source_name': 'Census Bureau',
    'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.',
    'dataset_name': 'ACS 5-year Estimate',
    'dataset_link': 'http://www.census.gov/programs-surveys/acs/',
    'table_id': 'B01003',
    'topic': 'Diversity',
    'subtopic': 'Demographics'},
   'name': 'acs_yg_total_population_5',
   'substitutions': []}]}

In [11]:
pd.DataFrame(response.json()['data'])[['ID Nation','Year','Population']]

  ID Nation  Year  Population
0   01000US  2020   326569308
1   01000US  2019   324697795
2   01000US  2018   322903030
3   01000US  2017   321004407
4   01000US  2016   318558162
5   01000US  2015   316515021
6   01000US  2014   314107084
7   01000US  2013   311536594