In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup # Library for web scraping

In [2]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?', headers = headers).text

In [3]:
# !pip install lxml

In [4]:
soup = BeautifulSoup(webpage,features = 'html.parser')

In [2]:
# print(soup.prettify()) ## prints the html source code

In [6]:
soup.find_all('h1')[0].text.strip()

'List of companies in India'

In [7]:
len(soup.find_all('h2', class_ = 'companyCardWrapper__companyName' ))

20

In [8]:
len(soup.find_all('h2',class_ = 'companyCardWrapper__companyName' ))

for i in soup.find_all('h2', class_ = 'companyCardWrapper__companyName'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
ICICI Bank
HDFC Bank
Infosys
Capgemini
Tech Mahindra
Genpact
HCLTech
Axis Bank
Concentrix Corporation
IBM
Reliance Jio
Amazon
Larsen & Toubro Limited
HDB Financial Services
Reliance Retail
Teleperformance

In [9]:
len(soup.find_all('span', class_ = 'companyCardWrapper__companyRatingValue'))

20

In [10]:
soup.find_all('span', class_ = 'companyCardWrapper__companyRatingValue')

[<span class="companyCardWrapper__companyRatingValue">3.8</span>,
 <span class="companyCardWrapper__companyRatingValue">4.1</span>,
 <span class="companyCardWrapper__companyRatingValue">3.9</span>,
 <span class="companyCardWrapper__companyRatingValue">3.9</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">3.9</span>,
 <span class="companyCardWrapper__companyRatingValue">3.9</span>,
 <span class="companyCardWrapper__companyRatingValue">3.9</span>,
 <span class="companyCardWrapper__companyRatingValue">3.7</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">3.7</span>,
 <span class="companyCardWrapper__companyRatingValue">3.8</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">4.1</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">4.2</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">4.0</span>,
 <span class="companyCardWrapper__companyRatingValue">3.6</span>]

In [11]:
for i in soup.find_all('span', class_ = 'companyCardWrapper__companyRatingValue'):
    print(i.text)

3.8
4.1
3.9
3.9
4.0
3.9
3.9
3.9
3.7
4.0
3.7
3.8
4.0
4.1
4.0
4.2
4.0
4.0
4.0
3.6

In [12]:
soup.find_all('span', class_ = 'companyCardWrapper__ActionCount')

[<span class="companyCardWrapper__ActionCount">61.1k</span>,
 <span class="companyCardWrapper__ActionCount">857.3k</span>,
 <span class="companyCardWrapper__ActionCount">5.1k</span>,
 <span class="companyCardWrapper__ActionCount">45</span>,
 <span class="companyCardWrapper__ActionCount">25.6k</span>,
 <span class="companyCardWrapper__ActionCount">62</span>,
 <span class="companyCardWrapper__ActionCount">39k</span>,
 <span class="companyCardWrapper__ActionCount">558.8k</span>,
 <span class="companyCardWrapper__ActionCount">3.4k</span>,
 <span class="companyCardWrapper__ActionCount">12.6k</span>,
 <span class="companyCardWrapper__ActionCount">18.3k</span>,
 <span class="companyCardWrapper__ActionCount">30</span>,
 <span class="companyCardWrapper__ActionCount">35.6k</span>,
 <span class="companyCardWrapper__ActionCount">565.1k</span>,
 <span class="companyCardWrapper__ActionCount">3.1k</span>,
 <span class="companyCardWrapper__ActionCount">434</span>,
 <span class="companyCardWrapper__ActionCount">14.9k</span>,
 <span class="companyCardWrapper__ActionCount">39</span>,
 <span class="companyCardWrapper__ActionCount">29.1k</span>,
 <span class="companyCardWrapper__ActionCount">414.4k</span>,
 <span class="companyCardWrapper__ActionCount">3k</span>,
 <span class="companyCardWrapper__ActionCount">435</span>,
 <span class="companyCardWrapper__ActionCount">11.5k</span>,
 <span class="companyCardWrapper__ActionCount">29</span>,
 <span class="companyCardWrapper__ActionCount">29k</span>,
 <span class="companyCardWrapper__ActionCount">217.7k</span>,
 <span class="companyCardWrapper__ActionCount">1.6k</span>,
 <span class="companyCardWrapper__ActionCount">233</span>,
 <span class="companyCardWrapper__ActionCount">11.9k</span>,
 <span class="companyCardWrapper__ActionCount">11</span>,
 <span class="companyCardWrapper__ActionCount">28.3k</span>,
 <span class="companyCardWrapper__ActionCount">212.7k</span>,
 <span class="companyCardWrapper__ActionCount">1.3k</span>,
 <span class="companyCardWrapper__ActionCount">374</span>,
 <span class="companyCardWrapper__ActionCount">9.6k</span>,
 <span class="companyCardWrapper__ActionCount">11</span>,
 <span class="companyCardWrapper__ActionCount">26.7k</span>,
 <span class="companyCardWrapper__ActionCount">486.3k</span>,
 <span class="companyCardWrapper__ActionCount">4.3k</span>,
 <span class="companyCardWrapper__ActionCount">991</span>,
 <span class="companyCardWrapper__ActionCount">11.5k</span>,
 <span class="companyCardWrapper__ActionCount">62</span>,
 <span class="companyCardWrapper__ActionCount">24.7k</span>,
 <span class="companyCardWrapper__ActionCount">368.9k</span>,
 <span class="companyCardWrapper__ActionCount">2.1k</span>,
 <span class="companyCardWrapper__ActionCount">911</span>,
 <span class="companyCardWrapper__ActionCount">9.6k</span>,
 <span class="companyCardWrapper__ActionCount">21</span>,
 <span class="companyCardWrapper__ActionCount">23.3k</span>,
 <span class="companyCardWrapper__ActionCount">263.8k</span>,
 <span class="companyCardWrapper__ActionCount">2k</span>,
 <span class="companyCardWrapper__ActionCount">1.3k</span>,
 <span class="companyCardWrapper__ActionCount">9.6k</span>,
 <span class="companyCardWrapper__ActionCount">31</span>,
 <span class="companyCardWrapper__ActionCount">22.5k</span>,
 <span class="companyCardWrapper__ActionCount">195.1k</span>,
 <span class="companyCardWrapper__ActionCount">1.6k</span>,
 <span class="companyCardWrapper__ActionCount">1.1k</span>,
 <span class="companyCardWrapper__ActionCount">10.5k</span>,
 <span class="companyCardWrapper__ActionCount">22</span>,
 <span class="companyCardWrapper__ActionCount">22.3k</span>,
 <span class="companyCardWrapper__ActionCount">271.5k</span>,
 <span class="companyCardWrapper__ActionCount">2k</span>,
 <span class="companyCardWrapper__ActionCount">550</span>,
 <span class="companyCardWrapper__ActionCount">8.8k</span>,
 <span class="companyCardWrapper__ActionCount">19</span>,
 <span class="companyCardWrapper__ActionCount">19.1k</span>,
 <span class="companyCardWrapper__ActionCount">164.1k</span>,
 <span class="companyCardWrapper__ActionCount">923</span>,
 <span class="companyCardWrapper__ActionCount">242</span>,
 <span class="companyCardWrapper__ActionCount">7k</span>,
 <span class="companyCardWrapper__ActionCount">10</span>,
 <span class="companyCardWrapper__ActionCount">17.9k</span>,
 <span class="companyCardWrapper__ActionCount">108.1k</span>,
 <span class="companyCardWrapper__ActionCount">852</span>,
 <span class="companyCardWrapper__ActionCount">163</span>,
 <span class="companyCardWrapper__ActionCount">9k</span>,
 <span class="companyCardWrapper__ActionCount">13</span>,
 <span class="companyCardWrapper__ActionCount">17.7k</span>,
 <span class="companyCardWrapper__ActionCount">215k</span>,
 <span class="companyCardWrapper__ActionCount">1.3k</span>,
 <span class="companyCardWrapper__ActionCount">3.1k</span>,
 <span class="companyCardWrapper__ActionCount">7.6k</span>,
 <span class="companyCardWrapper__ActionCount">13</span>,
 <span class="companyCardWrapper__ActionCount">17.2k</span>,
 <span class="companyCardWrapper__ActionCount">96.8k</span>,
 <span class="companyCardWrapper__ActionCount">970</span>,
 <span class="companyCardWrapper__ActionCount">148</span>,
 <span class="companyCardWrapper__ActionCount">6.7k</span>,
 <span class="companyCardWrapper__ActionCount">22</span>,
 <span class="companyCardWrapper__ActionCount">17.2k</span>,
 <span class="companyCardWrapper__ActionCount">136.8k</span>,
 <span class="companyCardWrapper__ActionCount">2.8k</span>,
 <span class="companyCardWrapper__ActionCount">682</span>,
 <span class="companyCardWrapper__ActionCount">6.5k</span>,
 <span class="companyCardWrapper__ActionCount">23</span>,
 <span class="companyCardWrapper__ActionCount">16.3k</span>,
 <span class="companyCardWrapper__ActionCount">97.7k</span>,
 <span class="companyCardWrapper__ActionCount">874</span>,
 <span class="companyCardWrapper__ActionCount">277</span>,
 <span class="companyCardWrapper__ActionCount">6.9k</span>,
 <span class="companyCardWrapper__ActionCount">25</span>,
 <span class="companyCardWrapper__ActionCount">15.4k</span>,
 <span class="companyCardWrapper__ActionCount">80.1k</span>,
 <span class="companyCardWrapper__ActionCount">483</span>,
 <span class="companyCardWrapper__ActionCount">71</span>,
 <span class="companyCardWrapper__ActionCount">5.7k</span>,
 <span class="companyCardWrapper__ActionCount">16</span>,
 <span class="companyCardWrapper__ActionCount">14.8k</span>,
 <span class="companyCardWrapper__ActionCount">79.5k</span>,
 <span class="companyCardWrapper__ActionCount">960</span>,
 <span class="companyCardWrapper__ActionCount">259</span>,
 <span class="companyCardWrapper__ActionCount">4.5k</span>,
 <span class="companyCardWrapper__ActionCount">50</span>,
 <span class="companyCardWrapper__ActionCount">14.3k</span>,
 <span class="companyCardWrapper__ActionCount">87.2k</span>,
 <span class="companyCardWrapper__ActionCount">941</span>,
 <span class="companyCardWrapper__ActionCount">243</span>,
 <span class="companyCardWrapper__ActionCount">6.1k</span>,
 <span class="companyCardWrapper__ActionCount">14</span>]

In [13]:
company = soup.find_all('div', class_ = 'companyCardWrapper')

In [14]:
len(company)

20

In [15]:
companyNames = []
companyRatings = []
companyReviews = []
companySalaries = []
companyInterviews = []
companyJobs = []
companyBenefits = []

for i in company:
    companyNames.append(i.find('h2').text.strip())
    companyRatings.append(i.find('span',class_ = 'companyCardWrapper__companyRatingValue').text)
    companyReviews.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[0].text.strip())
    companySalaries.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[1].text.strip())
    companyInterviews.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[2].text.strip())
    companyJobs.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[3].text.strip())
    companyBenefits.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[4].text.strip())

data = {'Company':companyNames, 'Rating':companyRatings, 'Reviews': companyReviews,
        'Salaries':companySalaries, 'Interviews':companyInterviews, 'Jobs':companyJobs, 'Benefits':companyBenefits }

df = pd.DataFrame(data)

In [16]:
companyNames

['TCS',
 'Accenture',
 'Cognizant',
 'Wipro',
 'ICICI Bank',
 'HDFC Bank',
 'Infosys',
 'Capgemini',
 'Tech Mahindra',
 'Genpact',
 'HCLTech',
 'Axis Bank',
 'Concentrix Corporation',
 'IBM',
 'Reliance Jio',
 'Amazon',
 'Larsen & Toubro Limited',
 'HDB Financial Services',
 'Reliance Retail',
 'Teleperformance']

In [17]:
# companyRatings = []

# for i in company:
#     companyRatings.append(i.find('span',class_ = 'companyCardWrapper__companyRatingValue').text)

In [18]:
companyRatings

['3.8',
 '4.1',
 '3.9',
 '3.9',
 '4.0',
 '3.9',
 '3.9',
 '3.9',
 '3.7',
 '4.0',
 '3.7',
 '3.8',
 '4.0',
 '4.1',
 '4.0',
 '4.2',
 '4.0',
 '4.0',
 '4.0',
 '3.6']

In [19]:
companyReviews

['61.1k',
 '39k',
 '35.6k',
 '29.1k',
 '29k',
 '28.3k',
 '26.7k',
 '24.7k',
 '23.3k',
 '22.5k',
 '22.3k',
 '19.1k',
 '17.9k',
 '17.7k',
 '17.2k',
 '17.2k',
 '16.3k',
 '15.4k',
 '14.8k',
 '14.3k']

In [20]:
companySalaries

['857.3k',
 '558.8k',
 '565.1k',
 '414.4k',
 '217.7k',
 '212.7k',
 '486.3k',
 '368.9k',
 '263.8k',
 '195.1k',
 '271.5k',
 '164.1k',
 '108.1k',
 '215k',
 '96.8k',
 '136.8k',
 '97.7k',
 '80.1k',
 '79.5k',
 '87.2k']

#### company is a list and each span is an element which consists of information about company 
#### eg: first span is first element of the list Company which consists of data about the first company

In [21]:
company[0].find_all('span',class_ = 'companyCardWrapper__ActionCount') # gives info about first element of company

[<span class="companyCardWrapper__ActionCount">61.1k</span>,
 <span class="companyCardWrapper__ActionCount">857.3k</span>,
 <span class="companyCardWrapper__ActionCount">5.1k</span>,
 <span class="companyCardWrapper__ActionCount">45</span>,
 <span class="companyCardWrapper__ActionCount">25.6k</span>,
 <span class="companyCardWrapper__ActionCount">62</span>]

In [22]:
company[0].find_all('span',class_ = 'companyCardWrapper__ActionCount')[0].text

'61.1k'

In [23]:
df

                    Company Rating Reviews Salaries Interviews   Jobs Benefits
0                       TCS    3.8   61.1k   857.3k       5.1k     45    25.6k
1                 Accenture    4.1     39k   558.8k       3.4k  12.6k    18.3k
2                 Cognizant    3.9   35.6k   565.1k       3.1k    434    14.9k
3                     Wipro    3.9   29.1k   414.4k         3k    435    11.5k
4                ICICI Bank    4.0     29k   217.7k       1.6k    233    11.9k
5                 HDFC Bank    3.9   28.3k   212.7k       1.3k    374     9.6k
6                   Infosys    3.9   26.7k   486.3k       4.3k    991    11.5k
7                 Capgemini    3.9   24.7k   368.9k       2.1k    911     9.6k
8             Tech Mahindra    3.7   23.3k   263.8k         2k   1.3k     9.6k
9                   Genpact    4.0   22.5k   195.1k       1.6k   1.1k    10.5k
10                  HCLTech    3.7   22.3k   271.5k         2k    550     8.8k
11                Axis Bank    3.8   19.1k   164.1k        923    242       7k
12   Concentrix Corporation    4.0   17.9k   108.1k        852    163       9k
13                      IBM    4.1   17.7k     215k       1.3k   3.1k     7.6k
14             Reliance Jio    4.0   17.2k    96.8k        970    148     6.7k
15                   Amazon    4.2   17.2k   136.8k       2.8k    682     6.5k
16  Larsen & Toubro Limited    4.0   16.3k    97.7k        874    277     6.9k
17   HDB Financial Services    4.0   15.4k    80.1k        483     71     5.7k
18          Reliance Retail    4.0   14.8k    79.5k        960    259     4.5k
19          Teleperformance    3.6   14.3k    87.2k        941    243     6.1k

In [24]:
final = pd.DataFrame()

for j in (1,11):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)

    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get(url, headers = headers).text
    
    soup = BeautifulSoup(webpage,features = 'html.parser')
    
    company = soup.find_all('div', class_ = 'companyCardWrapper')
    
    companyNames = []
    companyRatings = []
    companyReviews = []
    companySalaries = []
    companyInterviews = []
    companyJobs = []
    companyBenefits = []

    for i in company:
        companyNames.append(i.find('h2').text.strip())
        companyRatings.append(i.find('span',class_ = 'companyCardWrapper__companyRatingValue').text)
        companyReviews.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[0].text.strip())
        companySalaries.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[1].text.strip())
        companyInterviews.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[2].text.strip())
        companyJobs.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[3].text.strip())
        companyBenefits.append(i.find_all('span',class_ = 'companyCardWrapper__ActionCount')[4].text.strip())

        data = {'Company':companyNames, 'Rating':companyRatings, 'Reviews': companyReviews,
        'Salaries':companySalaries, 'Interviews':companyInterviews, 'Jobs':companyJobs, 'Benefits':companyBenefits }
     
        df = pd.DataFrame(data)
    
        final =  pd.concat([final,df],ignore_index=True)

In [25]:
len(final)

420

In [26]:
final

                Company Rating Reviews Salaries Interviews   Jobs Benefits
0                   TCS    3.8   61.1k   857.3k       5.1k     45    25.6k
1                   TCS    3.8   61.1k   857.3k       5.1k     45    25.6k
2             Accenture    4.1     39k   558.8k       3.4k  12.6k    18.3k
3                   TCS    3.8   61.1k   857.3k       5.1k     45    25.6k
4             Accenture    4.1     39k   558.8k       3.4k  12.6k    18.3k
..                  ...    ...     ...      ...        ...    ...      ...
415            Conduent    3.6    2.1k      20k        105     28       1k
416   Access Healthcare    4.0    2.1k    18.1k        121     92      850
417              Biocon    3.9    2.1k      15k        123     70      871
418  ITC Infotech India    3.6    2.1k    26.5k        164    126      728
419      Paras Hospital    4.7    2.1k     2.6k         31     47      234

[420 rows x 7 columns]